# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist core files
!README.md
!.gitignore
!.zshrc

!.config
.config/*

# Whitelist neovim configuration
!.config/nvim
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/nvim/spell

# Whitelist bat configuration
!.config/bat
