*
!/.gitignore
!/.bashrc
!/.ctags
!/.calcurse/
!/.calcurse/*
!/.calcurse/caldav/*
!/.calcurse/hooks/*
!/.calcurse/notes/*
!/.config/
!/.config/compton/
!/.config/compton/*
!/.config/conky/
!/.config/conky/*
!/.config/i3/
!/.config/i3/*
!/.config/i3/ws/*
!/.config/nvim/
!/.config/nvim/*
!/.config/neomutt/
!/.config/neomutt/*
!/.config/nvim/spell/*
!/.config/polybar/
!/.config/polybar/*
!/.config/polybar/scripts/*
!/.config/redshift/
!/.config/redshift/*
!/.config/termite/
!/.config/termite/*
!/.config/vis/
!/.config/vis/*
!/.config/vis/colors/*
!/.config/xrandr/
!/.config/xrandr/*
!/Wallpapers/
!/Wallpapers/*
/.calcurse/caldav/oauth2_cred
