*
!/README.md
!/.gitignore
!/.calcurse/
!/.calcurse/conf
!/.calcurse/caldav/
!/.calcurse/caldav/config
!/.calcurse/hooks/*
!/.config/
!/.config/compton/
!/.config/compton/*
!/.config/conky/
!/.config/conky/*
!/.config/i3/
!/.config/i3/*
!/.config/i3/ws/*
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json
!/.config/nvim/spell/
!/.config/nvim/spell/en.utf-8.add
!/.config/nvim/spell/en.utf-8.add.spl
!/.config/neomutt/
!/.config/neomutt/*
!/.config/nvim/spell/*
!/.config/polybar/
!/.config/polybar/*
!/.config/polybar/scripts/*
!/.config/redshift/
!/.config/redshift/*
!/.config/termite/
!/.config/termite/*
!/.config/vis/
!/.config/vis/*
!/.config/vis/colors/*
!/.config/xrandr/
!/.config/xrandr/*
!/.zshrc
!/github-auth.sh
!/Wallpapers/
!/Wallpapers/*
